@font-face {
    font-family: roboto-regular;
    src: url(../assets/fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(../assets/fonts/roboto/Roboto-Thin.ttf);
} 

@font-face {
    font-family: roboto-bold;
    src: url(../assets/fonts/roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-black;
    src: url(../assets/fonts/roboto/Roboto-Black.ttf);
}

@font-face {
    font-family: roboto-Medium;
    src: url(../assets/fonts/roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto-light;
    src: url(../assets/fonts/roboto/Roboto-Light.ttf);
}

.roboto-thin{
    font-family: roboto-thin;
}

.roboto-bold{
    font-family: roboto-bold;
}

.roboto-black{
    font-family: roboto-black;
}

.roboto-regular{
    font-family: roboto-regular;
}

.roboto-medium{
    font-family: roboto-medium;
    color: #FFFFFF;
}
.roboto-light{
    font-family: roboto-light;
}

html,
body{
    padding: 0 !important;
    margin: 0 !important;
    font-family: roboto-regular;
    scroll-behavior:smooth;
    width: 100%;
}

.full-banner{
    background-image: url(../assets/images/portrait\ étudiant.jpg);
    background-size: cover;
    height: 120vh;
    background-position: center;
    color: #FFFFFF;
    width: 100%;
}

.full-banner2{
    background-image: url(../assets/images/freelance.png);
    background-size: cover;
    background-position: center;
    height: 120vh;
    color: #FFFFFF;
    width: 100%;
}

.full-banner3{
    background-image: url(../assets/images/cours\ du\ soir.png);
    background-size: cover;
    height: 120vh;
    color: #FFFFFF;
    width: 100%;
}

.full-container{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
}

.banner{
    text-align: center;
    margin-top: 70px;
}

.details-{
    color: #5E3606;
    font-family: roboto-black;
    font-size: 30px;
}

.banner h1{
    font-size: 40px; 
    line-height: 50px;
}

.cours-en-ligne{
    background-image: url(../assets/images/cour\ en\ ligne.png);
    text-align: center;
    background-size: cover;
    width: 100%;
    height: 600px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
    font-family: roboto-black;
    color: #FFFFFF;
    font-size: 30px;
    color: #5E3606;
    border-radius: 15px;
}

.cours-en-ligne-{
    padding: 0 100px;
    
}

.mak{
    background-color: #ffffff60;
    width: 100%;
    height: 200px;
}

.h2-title{
    font-family: roboto-thin;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    word-spacing: 8px;
    font-size: 25px;
    
    
}

.h2-title-{
    color: #5E3606;
    font-family: roboto-black;
    font-size: 30px;
    text-align: center;
}

.text-lorem{
    display: flex;
    justify-content: center;
    align-items: center;
}

.plus{
    background-color: #000000;
    border-radius: 100px;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 40%;
    top: 50px;
    position: relative;
}

.container4{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;

}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 5px;
    width: 100%;
    color: #FFFFFF;
}

.d-grid-3 img{
    width: 100%;
    border-radius: 8px;
    height: 250px;
}

.d-grid-3 p{
    font-size: 10px;
}

.d-grid-3{
    background-color: #00000061;
    display: flex;
    flex-direction: column;
    padding-left: 28px;
    border-radius: 8px;
    padding: 20px 28px;

}

.historique{
    font-family: roboto-black;
}

.mask{
    background-color: #000000a5;
    height: 120vh;
}

a, ul{
    text-decoration: none;
    color: #FFFFFF;
    list-style-type: none;
}

.menu-bar{
    background-color: #0000003a;
    margin: 0 60px;
    padding: 0 40px;
}

.button{
    text-align: right;
}

.h1-title{
    background-color: #000000;
}

.sous-title{
    width: 100%;
    
}

.animated{
    animation-duration: 1s;
    animation-name: slidein;
}
@keyframes slidein {
    from {
    margin-left: 100%;
    width: 300%; 
    }

    to {
    margin-left: 0%;
    width: 100%; 
    }
}

.text{
    font-family: roboto-thin !important;
}

.text-center{
    text-align: center;
}

.menu-bar .menu-items li {
    display: inline-block;
    font-family: roboto-bold;
    margin: 0 14px;
    font-size: 16px; 
}

.menu-bar .menu-items li a:hover{
    color: #000000;
} 

.menu-bar .menu-items li a:focus{
    color: #5E3606;
} 

.internet ul{
    display:flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.description-banner{
    background-image: url(../assets/images/photo-retour-ecole-papeterie-element-education.png);
    background-position: center;
    height: 60vh;
    background-size: cover;
}

.descrip{
    background-color: #00000094;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    text-align: center;
    width: 100%;
}

.description-banner-{
    width: 50%;
    line-height: 30px;
}

.d-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: auto;
    width: 100%;
}

.d-grid1{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.documentation{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:#000000;
    border-radius: 8px;
    
}

.separator2{
    background-color: #FFFFFF;
    height: 1px;
    width: 1400px;
    text-align: center;
}

.signature{
    font-size: 10px !important;
}

.d-g{
    background-image: url(../assets/images/cours.png);
    background-position: center;
    height: 130vh;
    width: 600px;
    background-size: cover;
}

.article{
    background-image: url(../assets/images/cour\ piano.png);
    background-position: center;
    background-size: cover;
    width: 60%;
    height: 20%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    border-radius: 8px;

}

.article-left{
    margin-left: 20%;
}

.cs{
    background-image: url(../assets/images/salle\ examen.png);
    background-position: center;
    background-size: cover;
    width: 500px;
    height: 134vh;
    border-radius: 10px;
}

.css{
    width: 500px;
    height: 134vh;
    border-radius: 10px;
    background-color: #0000008f;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.roboto{
    font-family: roboto-medium;
}

.roboto--{
    font-family: roboto-light;
    line-height: 30px;
}

.text-lorem{
    background-image: url(../assets/images/batiments-rouges-menages_1127-2024.png);
    background-position: center;
    color: #FFFFFF;
    height: 100vh;
    background-size: cover;
    width: 100%;
    border-radius: 8px;
}

.maskk{
    background-color: #00000090;
    height: 100vh;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 25px;
    padding: 0 50px;
}

.small-container{
    background-image: url(../assets/images/cour\ piano.png);
    background-position: center;
    display: inline-block;
    width: 360px;
    height: 250px;
    border-radius: 10px;
    padding: 20px 30px;
}

.bottom-footer{
    text-align: center;
    position: relative;
}

form- input[type ="text"], form input[type ="email"],form textarea{
    padding: 6px;
    font-size: 0.8rem;
    width: 95%;
    border: solid 1px;
    border-radius: 5px;
}

.butt[type ="submit"]{
    font-size: 17px;
    font-weight: bold;
    border: none;
    background-color: #000000;
    color: #fff;
    padding: 8px 0;
    box-sizing: border-box !important;
    border-radius: 7px;
    width: 100%;
}

.butt{
    font-size: 12px;
    font-weight: bold;
    border: none;
    background-color: #000000;
    color: #fff;
    padding: 8px 0px;
    box-sizing: border-box !important;
    border-radius: 7px;
    width: 100%;
}

footer{
    background-color: #5E3606;
    color: #FFFFFF;
    padding: 10px 50px;
    height: fit-content;
}

.text-bottom{
    text-align: center;
}

.details{
    line-height: 30px;
    padding: 0 50px;
}

.Doc{
    background-image: url(../assets/images/biblio.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    border-radius: 10px;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.Doc-{
    padding: 0 50px;
}

.mask--{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    
}

.button-doc{
    background-color: #5E3606;
    padding: 10px 20px;
    border-radius: 8px;

}

button{
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 20px;
    border-radius: 8px;
}

.mask--{
    margin: 0 10%;
    width: 90%;
    border-radius: 8px;
}

.formation div {
    background-image: url(../assets/images/groupe.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    width: 100%;
    height: 250px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formation{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    padding: 0 50px;
    font-size: 22px;
    font-family: roboto-black;
    color: red;
}

.return{
    color: #FFFFFF;
}

.button-header{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 10vh;
}
section a img {
    display: none;
}

.info{
    padding-left: 25px;
}

.buttonn{
    padding: 10px 40px;
    border-radius: 8px;
}





/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 800px) {
    
    span.text {
        font-size: 20px;
    } 
    h1 {
        font-size: 20px;
    }

    .cours-en-ligne{
        font-size: 18px;
    }

    .lorem-1, p {
        font-size: 8px;
        padding: 10px 0;
        word-spacing: 5px;
    }

    .container4{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 40px;
    
    }

    .lorem-1{
        font-size: 5px;
        padding: 10px 0;
    }

    h2.h2-title {
        max-width: 50%;
        font-size: 10px;
    }
    
    .banner-descrip{
        font-size: 10px;
        line-height: 10px;
    }
    
    .menu-bar {
        display: none;
    }
    section.section1  {
    padding: 10px;
        width: 100%;
        padding: 0;
    }
    .d-grid {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .formation{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        font-size: 18px;
    }

    .full-banner{
        background-position: center;
    }
    .d-grid1 {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .internet ul{
        display:grid;
        
        grid-template-columns: 1fr 1fr 1fr;
        gap: 20px;
        
    }
    .cs {
        width: 80%;
    }
    .css{
        width: 100%;
        height: 134vh;
        border-radius: 10px;
        background-color: #0000008f;
        backdrop-filter: blur(2px);
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }
    .button-header{
        display: flex;
        flex-direction: column;
    }
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    width: 100%;
    }
    }




/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {



}

/*Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
   

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}








